# Compilation artifacts #
*.class

# Package artifacts #
*.jar
*.war
*.ear

# Maven artifacts #
/target/

# IntelliJ IDEA artifacts #
/.idea/
/church-management.iml

# NetBeans artifacts # 
/nb-configuration.xml
/nbactions.xml
/nbactions-release-profile.xml
/faces-config.NavData

# Eclipse artifacts #
/.project
/.classpath
/.settings/
/src/main/webapp/WEB-INF/jboss-web.xml
/src/main/webapp/WEB-INF/glassfish-web.xml
/.apt_generated/
