<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 * Copyright 2014 satrapu.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<configuration scan="false"
               scanPeriod="60 seconds"
               debug="true">

    <contextName>church-management</contextName>

    <variable name="application-name"
              value="${CONTEXT_NAME}"/>
    <variable name="logs-home-folder"
              value="logs/${application-name}"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %message%n</pattern>
        </encoder>
    </appender>

    <appender name="Application"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs-home-folder}/${application-name}.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [${HOSTNAME}] [${CONTEXT_NAME}] [%thread] %logger{36} - %message%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logs-home-folder}/old/${application-name}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>31</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Application log -->
    <logger name="ro.satrapu.churchmanagement"
            level="TRACE"/>

    <!-- Localized text to be displayed inside UI -->
    <logger name="ro.satrapu.churchmanagement.ui.messages"
            level="OFF"/>

    <!-- Hibernate JDBC statements -->
    <logger name="org.hibernate.SQL"
            level="TRACE"/>

    <!-- JDBC parameter values bound by Hibernate -->
    <logger name="org.hibernate.type.descriptor.sql"
            level="TRACE"/>

    <root level="ALL">
        <appender-ref ref="Console"/>
        <appender-ref ref="Application"/>
    </root>

</configuration>